.recipe-card {
    width: 230px;
    height: 260px;
    /* manja kartica */
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: transform .2s ease;
}

.recipe-card:hover {
    transform: translateY(-5px);
}

.recipe-image {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.recipe-name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 6px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.recipe-info {
    padding: 10px;
}

.rating-time {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: bold;
}

/* -------------------------- */
/*            OVERLAY         */
/* -------------------------- */

.ingredients-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    background: rgba(89, 220, 49, 0.97);
    padding: 10px;
    box-sizing: border-box;

    /* Početno pokazuje samo jedan red */
    max-height: 60px;
    overflow: hidden;

    transition: max-height .35s ease;
}

/* Kada hoverneš: pokaže sve sastojke */
.recipe-card:hover .ingredients-overlay {
    max-height: 200px;
}

.ingredients-overlay h4 {
    margin: 0 0 5px;
    font-size: 14px;
}

.ingredients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    line-height: 1.4;
}

.ingredients-list span {
    background: #f1f1f1;
    padding: 4px 7px;
    border-radius: 6px;
    font-size: 11px;
}