/* Modal pozadina */
.auth-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal container */
.auth-container {
    width: 90%;
    max-width: 400px;
    margin: 0;
    padding: 30px;
    border-radius: 12px;
    background: white;
    text-align: center;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.auth-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auth-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.auth-container button {
    padding: 10px;
    border: none;
    background: #00b36b;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

/* Close button */
.auth-container .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
        color: black; 
}

/* Error poruka */
.error {
    color: red;
    margin-bottom: 10px;
}

