.home-container {
    padding: 30px;
    width: 90%;
}

.home-title {
    text-align: center;
    margin-bottom: 20px;
}

.recipe-grid { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
