.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.home-title {
    text-align: center;
    margin-bottom: 20px;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: fit-content;
    justify-content: center;
    align-items: center;
}